/*restart*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*variable in root*/
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-navbar: #f8f8f8;
  --color-secondery-light: #fff6f2;
  --color-secondery-dark: #ffa589;
  --color-heading: #000;
  --color-body: #333333;
  --color-white: #ffffff;
}
/*body*/
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
/*button*/
.btn {
  outline: 0;
  border: 0;
  padding: 1.5rem 2.8rem;
  border-radius: 0.8rem;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondery-dark);
  color: var(--color-white);
}
.btn--block {
  width: 100%;
  font: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}
/*Badge*/
.badge {
  display: inline-block;
  padding: 0.45rem 1rem;
  background-color: #fff;
  border-radius: 32px;
  border: 2px solid var(--color-primary);
  text-transform: uppercase;
  font-size: 1.3rem;
  direction: ltr;
  color: var(--color-secondery-dark);
}
.badge--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}
/*List*/
.list {
  list-style: none;
  font-size: 1.8rem;
}
.list--inline .list__item {
  display: inline;
  margin-left: 2rem;
}
/*.list--tick .list__item::before{
    content: "";
    background:  url(/assets/images/checkicon.svg) no-repeat;
    padding-right: 3rem;
}*/
.list--tick .list__item {
  background: url(/assets/images/checkicon.svg) no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
  }
}
/*Plan section*/
.block-plan {
  display: grid;
  gap: 8rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 316px));
  margin-top: 5rem;
}
.plan {
  max-width: 450px;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgba(218, 218, 218, 0.192);
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__secondary .card__header {
  background-color: var(--color-primary-light);
}
.card__primary .card__header {
  background-color: var(--color-secondery-dark);
}
.card__header {
  background-color: var(--color-secondery-dark);
  color: var(--color-white);
}
.card__body {
  background-color: var(--color-secondery-light);
}
.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing_cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  margin-top: 1.5rem;
}
.plan .btn--block {
  margin-top: 10rem;
}
.plan:hover {
  transform: scale(1.025);
}
.plan--poupular {
  transform: scale(1.1);
}
.plan--poupular:hover {
  transform: scale(1.12);
}
@media screen and (min-width: 1024px) {
  .block-plan {
    grid-template-columns: repeat(3, 1fr);
  }
  /*container*/
  .container {
    max-width: 1150px;
    margin: 0 auto;
  }
}
/*Feature*/
.feature {
  display: grid;
  justify-content: center;
  padding: 2rem;
  gap: 0rem 10rem;
}
.feature__text {
  margin-bottom: 3rem;
}
.feature__image > img {
  margin-right: 6rem;
  margin-bottom: 2rem;
}

.feature .btn {
  padding: 1.2rem 3rem;
}
@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 1150px;
    margin: 0 auto;
  }
  .feature__image > img {
    width: 100%;
    height: auto;
  }
  .align .feature__image {
    order: 1;
  }
  .feature__detail {
    order: 1;
  }
  .feature__image {
    order: 2;
  }
}
/*Contact-us*/
.contact-us {
  display: grid;
}
.contact-us__map {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "icons form"
      "map form"
      "social form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__icons {
    grid-area: icons;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__social {
    grid-area: social;
  }
}
/* Contact-us Icons*/
.icon {
  width: 24px;
  height: 24px;
}
.icon-container {
  height: 34px;
  width: 34px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.icon-holder__label {
  margin-left: 1rem;
  display: block;
  max-width: 200px;
}
@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
  }
  .icon-holder__label {
    order: 2;
    text-align: center;
  }
}
/* Contact-us Social icon*/
.contact-us__social {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}
/* Contact-us Map*/
.contact-us__map img {
  width: 100%;
  height: auto;
}

/* Contact-us Form*/
.form-wrapper {
  height: 100%;
  padding: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 30px #ccc;
  margin: 0 5rem;
}
.form-wrapper h3 {
  margin: 3rem 0;
  text-align: center;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
input,
textarea {
  display: block;
  outline: 0;
  border: 0;
}
.form-wrapper input {
  width: 280px;
  height: 54px;
  border-radius: 39px;
}
textarea {
  resize: none;
  border-radius: 10px;
}
.form-wrapper input,
.form-wrapper textarea {
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border-color: var(--color-primary);
}
/*Footer*/
.main-footer {
  background-color: rgb(15, 15, 15);
  color: #f5f5f5;
  min-height: 400px;
  display: flex;
  padding-top: 1rem;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.footer__item {
  margin-bottom: 2.5rem;
}
.footer__item a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.5rem;
  display: block;
}
.footer__item a:hover {
  color: var(--color-primary);
}
.footer__detail {
  display: flex;
  flex-direction: column;
}
.footer__detail h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin: 1.5rem 0rem;
}
.copy-right-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #acacac;
  line-height: 30px;
  font-weight: 300;
  font-size: 1.2rem;
}
.copy-right {
  color: #acacac;
  line-height: 30px;
  font-weight: 300;
  font-size: 1.2rem;
}
.footer__detail img {
  width: 13rem;
}
.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.footer__enemad img {
  width: 100%;
  height: auto;
}
.footer__enemad {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  max-width: 130px;
  max-height: 140px;
  margin-right: 20px;
}
.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
  }
  .footer__logo {
    width: 15rem;
  }
  .footer__item {
    margin-bottom: 0;
    margin-left: 3rem;
  }
  .footer__item a {
    font-size: small;
  }
  .footer__item h6 {
    margin-bottom: 2.5rem;
  }
  .footer__enemad img {
    width: 10rem;
  }
  .copy-right-mobile {
    display: none;
  }
  .social-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .copy-right {
    display: none;
  }
}
