<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
  <title>Document</title>
</head>
<body>
  <section class="container block">
<div class="contact-us ">
  <div class="contact-us__social">
    <span class="icon-container"
      ><svg class="icon">
        <use xlink:href="assets/images/svg-sprite.svg#linkdin"></use></svg></span>
    <span class="icon-container"
      ><svg class="icon">
        <use xlink:href="assets/images/svg-sprite.svg#facebook"></use></svg></span>
    <span class="icon-container"
      ><svg class="icon">
        <use xlink:href="assets/images/svg-sprite.svg#twiter"></use></svg></span>
  </div>
  <div class="contact-us__icons">
    <div class="icon-holder">
      <span class="icon-holder__label">info@snapemail.ir</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="assets/images/svg-sprite.svg#email"></use></svg></span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__label">98903784134+</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="assets/images/svg-sprite.svg#mobile"></use></svg></span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__label">ایران،تهران، 21،کوچه 101</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="assets/images/svg-sprite.svg#location"></use></svg></span>
    </div>
  </div>
  <div class="contact-us__map">
    <img src="/assets/images/map.svg" alt="map" />
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
      <h3>نظرات شما</h3>
      <form action="">
        <input type="text" placeholder="نام و نام خانوادگی" />
        <input type="email" placeholder="ایمیل خود را وارد کنید" />
        <textarea id="" name="" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn--primary btn--block">
          ثبت نظر
        </button>
      </form>
    </div>
  </div>
</div>
  </section>
  

</body>
</html>