<footer class="main-footer">
      <div class="container footer">
        <div class="footer__item footer__detail">
          <img
            class="footer__logo"
            src="/assets/images/tapsi-logo-white.svg"
            alt="tapsi-logo"
          />
          <h3>اپلیکیشن درخواست خودرو و پیک</h3>
          <p class="copy-right">
            تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
          </p>
        </div>
        <div class="footer__item">
          <h6>تپسی</h6>
          <a href="#">وبلاگ شخصی</a>
          <a href="#">فرصت شغلی</a>
          <a href="#">تماس با ما</a>
          <a href="#">لوگو هویت سازمانی</a>
          <a href="#">معرفی راننده به تپسی</a>
        </div>
        <div class="footer__item">
          <h6>مسافران</h6>
          <a href="#"> دانلود اپ مسافر</a>
          <a href="#"> نسخه وب تپسی</a>
          <a href="#">پرسش‌های متداول مسافران</a>
          <a href="#">شرایط و قوانین مسافران</a>
          <a href="#">باشگاه مشتریان</a>
        </div>
        <div class="footer__item">
          <h6>رانندگان</h6>
          <a href="#"> دانلود اپ سفیر</a>
          <a href="#">ثبت نام راننده تاکسی اینترنتی</a>
          <a href="#">پرسش‌های متداول سفیران</a>
          <a href="#">شرایط و قوانین سفیران</a>
          <a href="#">باشگاه سفیران</a>
        </div>
        <div class="footer__item">
          <h6>کسب و کارها</h6>
          <a href="#">پنل سازمانی تپسی</a>
          <a href="#">خرید کد اعتبار و تخفیف </a>
          <a href="#">دریافت API</a>
        </div>

        <div class="footer__item enemad">
          <div class="footer__enemad">
            <img src="/assets/images/etehadiye.png" alt="etehadiye" />
          </div>
          <div class="footer__enemad">
            <img src="/assets/images/samandehi.png" alt="samandehi" />
          </div>
          <div class="footer__enemad">
            <img src="/assets/images/nemad.png" alt="samandehi" />
          </div>
        </div>
         <p class="copy-right-mobile">
        تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
      </p>
      <div class="social-links">
        <a href="https://www.facebook.com/TAPSI.ir" target="_blank"
          ><img
            src="https://tapsi.ir/images/contact/facebook.svg"
            alt="Facebook Logo"
            height="20px"
        /></a>
        <a href="https://www.instagram.com/tapsi_ir/" target="_blank"
          ><img
            src="https://tapsi.ir/./images/contact/instagram.svg"
            alt="Instagram Logo"
            height="20px"
        /></a>
        <a href="https://twitter.com/TAPSI_ir" target="_blank"
          ><img
            src="https://tapsi.ir/./images/contact/twitter.svg"
            alt="Twitter Logo"
            height="20px"
        /></a>
        <a href="https://www.linkedin.com/company/tap30" target="_blank"
          ><img
            src="https://tapsi.ir/./images/contact/linkedin.svg"
            alt="LinkedIn Logo"
            height="20px"
        /></a>
        <a href="https://t.me/tapsi_cab" target="_blank"
          ><img
            src="https://tapsi.ir/./images/contact/telegram.svg"
            alt="Telegram Logo"
            height="20px"
        /></a>
      </div>
      </div>
     
    </footer>