<section class="block-plan container">
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge">10% oFF</span>
        </span>
        <span class="plan__price">390,000</span
        ><span class="plan__billing_cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های کلاسیک</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">کیفیت معمولی</li>
        </ul>
        <button class="btn btn--secondary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
  <div class="plan plan--poupular">
    <div class="card card__secondary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge badge--primary">10% oFF</span>
        </span>
        <span class="plan__price">390,000</span
        ><span class="plan__billing_cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های کلاسیک</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">کیفیت معمولی</li>
        </ul>
        <button class="btn btn--primary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge">10% oFF</span>
        </span>
        <span class="plan__price">390,000</span
        ><span class="plan__billing_cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های کلاسیک</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">کیفیت معمولی</li>
          <li class="list__item">کیفیت معمولی</li>
        </ul>
        <button class="btn btn--secondary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
</section>
