    <section class="services container">
      <h2 class="services__title">سرویس های تپسی</h2>
      <nav class="services__tabs">
        <a class="tab" id="nav-classic-tab">
          <img
            src="https://tapsi.ir/images/home/cc-classic.png"
            aria-label="classic service icon"
            alt="tapsi-classic-icon"
          />
          <p>تپسی کلاسیک</p>
        </a>
        <a class="tab" id="nav-motopeyk-tab">
          <img
            src="https://tapsi.ir/images/home/cc-motopeyk.png"
            aria-label="motopeyk service icon"
            alt="motopeyk-icon"
          />
          <p>موتوپیک</p>
        </a>
        <a class="tab" id="nav-autopeyk-tab">
          <img
            src="https://tapsi.ir/images/home/cc-autopeyk.png"
            aria-label="autopeyk service icon"
            alt="autopeyk-icon"
          />
          <p>اتوپیک</p>
        </a>
        <a class="tab" id="nav-plus-tab">
          <img
            src="https://tapsi.ir/images/home/cc-plus.png"
            aria-label="plus service icon"
            alt="tapsi-plus-icon"
          />
          <p>تپسی پلاس</p>
        </a>
        <a class="tab" id="nav-tel-tab">
          <img
            src="https://tapsi.ir/images/home/cc-tel.png"
            aria-label="tel service icon"
            alt="tapsi-tel-icon"
          />
          <p>تپسی تلفنی</p>
        </a>
        <a class="tab" id="nav-hamyar-tab">
          <img
            src="https://tapsi.ir/images/home/cc-hamyar.png"
            aria-label="hamyar service icon"
            alt="hamyar-icon"
          />
          <p>همیار</p>
        </a>
        <a class="tab" id="nav-hamkhat-tab">
          <img
            src="https://tapsi.ir/images/home/cc-hamkhat.png"
            aria-label="hamkhat service icon"
            alt="hamkhat-icon"
          />
          <p>هم&zwnj;خط</p>
        </a>
        <a class="tab" id="nav-taxi-tab">
          <img
            src="https://tapsi.ir/images/home/cc-taxi.png"
            aria-label="taxi service icon"
            alt="tapsi-taxi-icon"
          />
          <p>تاکسی</p>
        </a>
        <a class="tab active" id="nav-line-tab">
          <img
            src="https://tapsi.ir/images/home/cc-line.png"
            aria-label="line service icon"
            alt="tapsi-line-icon"
          />
          <p>تپسی لاین</p>
        </a>
      </nav>
      <section class="feature container">
       <div class="feature__image" >
        <img src="/assets/images/i-mac1.svg" alert="خدمات تپسی" />
      </div>
      <div class="feature__detail" >
        <h2 class="feature__title">خدمات تپسی برای کسب و کارها </h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند. و با استفاده از آن می‌توانید ماموریت های درون‌شهری و ارسال کالاهای خود را به سادگی مدیریت کنید.
        </p>
      </div>
    </section>
    </div>
    </section>