<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Travel</title>
  </head>
  <body>
    <sectin class="container travell">
      <div class="travel__slides">
        <div class="travel__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="travel" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge--primary">ویژه</div>
              <p>اقامت رایگان&bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
              <div>
                <i class="fa-solid fa-heart"></i>
                <span>24</span>
                <i class="fa-solid fa-eye"></i>
                <span>12</span>
              </div>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-4.jpg" alt="travel" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge--primary">ویژه</div>
              <p>اقامت رایگان&bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
              <div>
                <i class="fa-solid fa-heart"></i>
                <span>24</span>
                <i class="fa-solid fa-eye"></i>
                <span>12</span>
              </div>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="travel" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge--primary">ویژه</div>
              <p>اقامت رایگان&bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
              <div>
                <i class="fa-solid fa-heart"></i>
                <span>24</span>
                <i class="fa-solid fa-eye"></i>
                <span>12</span>
              </div>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-2.jpg" alt="travel" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge--primary">ویژه</div>
              <p>اقامت رایگان&bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
              <div>
                <i class="fa-solid fa-heart"></i>
                <span>24</span>
                <i class="fa-solid fa-eye"></i>
                <span>12</span>
              </div>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-3.jpg" alt="travel" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <div class="badge badge--primary">ویژه</div>
              <p>اقامت رایگان&bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
              <div>
                <i class="fa-solid fa-heart"></i>
                <span>24</span>
                <i class="fa-solid fa-eye"></i>
                <span>12</span>
              </div>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </sectin>
  </body>
</html>
